<div>
  <%= form_for @offer do |f| %>
    <div class="form-group">
        <%= f.label :advertiser_name, 'Advertiser name'  %>
        <%= f.text_field :advertiser_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :url, 'URL' %>
        <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :description, 'Description' %>
        <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :starts_at, 'Starts at' %>
        <%= f.date_field :starts_at, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :ends_at, 'Ends at' %>
        <%= f.date_field :ends_at, class: 'form-control' %>
    </div>
    <div class="form-group form-check">
        <%= f.check_box :premium, class: 'form-check-input' %>
        <%= f.label :premium, 'Premium', class: 'form-check-label' %>
    </div>
    <div class="alig">
      <%= f.submit t('offers.submit'), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  <% end %>
</div>
