<div>
  <div class="mt-3 mb-4">
    <h1><%= t('offers.title') %></h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <div>
        <%= link_to t('offers.new'), new_offer_path, class: 'btn btn-link float-right' %>
      </div>
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t('offers.id') %></th>
          <th scope="col"><%= t('offers.name') %></th>
          <th scope="col"><%= t('offers.url')  %></th>
          <th scope="col"><%= t('offers.state') %></th>
          <th scope="col"><%= t('offers.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <th scope="row"><%= offer.id %></th>
            <td><%= offer.advertiser_name %></td>
            <td><%= offer.url %></td>
            <td><%= offer.state.titleize %></td>
            <td>
              <%= link_to t('offers.edit'), edit_offer_path(offer) %> |
              <%= link_to offer_new_state_option(offer.state), [offer, { offer: {state: offer_new_state(offer.state)} }], method: :patch %> |
              <%= link_to t('offers.destroy'), offer_path(offer), method: :delete, data: {confirm: t('offers.destroy_message')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
