<div style="height: 100vh;">

  <div class="mt-3 mb-4">
    <h1>Offers</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <div>
        <%= link_to 'New offer', new_offer_path, :class => 'btn btn-link float-right' %>
      </div>
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">url</th>
          <th scope="col">status</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <th scope="row"><%= offer.id %></th>
            <td><%= offer.advertiser_name %></td>
            <td><%= offer.url %></td>
            <td><%= offer.state.titleize %></td>
            <td>
              <%= link_to 'Edit', edit_offer_path(offer) %> |
              <%= link_to offer_new_state_option(offer.state), [offer, { offer: {state: offer_new_state(offer.state)} }], method: :patch %> |
              <%= link_to 'Destroy', offer_path(offer), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
