<!DOCTYPE html>
<html>
  <head>
    <title>Cashback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-body">

    <header>
      <%= render 'shared/navigation' %>
    </header>

    <main role="main">
      <div class="container">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <%= render 'shared/footer' %>
    </footer>

  </body>

</html>
